#horizontal {
    background: url('http://static1.360vrs.com/pano-content/judith-stone-at-sunset-east-farndon/640px-360-panorama.jpg');
    width:auto;
    height: 400px;
    -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 20s linear infinite;
  }

  @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
  }
    
  @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
  }
  .input {
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    width: 20%;
    height: 45px;
    color: lightcyan;
    font-size: 130%;
    padding-left: 20px;
    margin-top: 280px;
    margin-left: 30%;
    }
  .bttn {
    border: 2px solid rgb(120, 118, 118);;
    border-radius: 6px;
    background-color:rgb(117, 198, 196);
    width: 12%;
    height: 45px;
    color:white
    }
 
  .weather {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width:255px;
    height:auto;
    padding: 1%;
    padding-top: 3%;
    margin-left:  39%;
    margin-top: 0,5%;
    border-radius: 6px;
    font-size: 20px;
    line-height: 10px;
    }

  .places {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width:240px;
    height:auto;
    padding: 1%;
    margin-left:1%;
    margin-top: 2%;
    border-radius: 6px;
    font-size: 20px;
    line-height: 15px;
    }
  .desc{
    margin-top: 3%;
    margin-left: 10%;
    font-size : 25px;
    line-height : 5px;
    color:gray;
    }
  
  .blue{
    color: rgb(15, 205, 205);
    font-size: 130%;
    }

  .question{
    font-size:300%;
    color: white;
    position: relative;
    top:60%;
    left: 25%;
    }
  .logoName{
    font-size:120%;
    color: white;
    position: fixed;
    top:3%;
    left: 90%;
    }
  .row {
    display:flex;
    margin-left: 17.5%;
    margin-right: 17.5%;
    }
    h4{
      color: chocolate;
      line-height: 20px;

    }
    .row div p{
        font-size:medium;

    }
    .TopAttraction{
        margin-left: 16%;
        font-size:larger;
        color:gray;
    }
    .places span{
      margin-left: 85%;
    }